# DataTypes

In [1]:
s1="shivesh" #string

In [2]:
s1='''shivesh''' #it is also known as comment but if we'll asssign it after variable then it's no more a comment

In [3]:
s1='shivu' #string in single quote we can also write it

In [4]:
i1=10 #integer

In [5]:
f1=10.3 #float

In [6]:
b1=True

In [7]:
n1=None

# checking

In [8]:
type(s1)

str

In [9]:
type(i1)

int

In [10]:
type(f1)

float

In [11]:
type(b1)

bool

In [12]:
type(n1)

NoneType

# Arithmetic program

In [13]:
a=3
b=4

In [14]:
print("my name is w",a+b)

my name is w 7

In [15]:
print("my name is w",3+4)

my name is w 7

In [16]:
print("my name is w",3*4)

my name is w 12

# Assignment operator

In [17]:
a=10
a+=5

In [18]:
print(a)

15

In [19]:
a1=10
a1+=5
a1*=5
a1/=5

In [20]:
print(a1)

15.0

# Comparison operator

In [21]:
b=4>7

In [22]:
print(b)

False

In [23]:
b1=4<7

In [24]:
b1

True

In [25]:
b=4==7

In [26]:
print(b)

False

# Logical operators

In [27]:
bool1=True
bool2=False

In [28]:
print("value of bool1 and bool2",(bool1 and bool2))

value of bool1 and bool2 False

In [29]:
print("value of bool1 and bool2",(bool1 or bool2))

value of bool1 and bool2 True

In [30]:
print("value of bool1 and bool2",(not bool2))

value of bool1 and bool2 True

# Typecasting

In [31]:
a="30" # this is string not integer becz it's under double quote
a1=int(a)

In [32]:
print(a1+5)

35

In [33]:
type(a)

str

In [34]:
type(a1) # here it converted into integer

int

In [35]:
asd=34 #integer

In [36]:
asd=str(asd) #converting into str

In [37]:
type(asd)

str

# Input function

# very interesting function

In [40]:
nm=input("enter your name")

enter your nameShivesh Kumar

# STRINGS

In [41]:
a=20
b="shivu"
print(a,b)

20 shivu

# string slicing

In [44]:
 b[0]

's'

In [46]:
b[0:6]

'shivu'

In [51]:
b[-1]

'u'

# concating twon string

In [50]:
s11="hello shivesh "
s22="how are you"
print(s11+s22)

hello shivesh how are you

In [68]:
story="my name is shivesh and i'm learning python is"

In [69]:
len(story)

45

In [70]:
story.endswith("rty")

False

In [71]:
story.endswith("python")

False

In [73]:
story.count('is')

2

In [74]:
story.capitalize()

"My name is shivesh and i'm learning python is"

In [75]:
story.find("shivesh")

11

In [76]:
story.replace("shivesh","shivu")

"my name is shivu and i'm learning python is"

# List and Tupple

In [78]:
list1 = [1,2,"shivu",23,5,6,7,7865,46]

In [90]:
list1

[1, 2, 5, 6, 7, 10, 23, 46, 7865]

In [81]:
list1[2]=10

In [83]:
list1 #it replaced "shivu" with 10 because shivu was at 2 position

[1, 2, 10, 23, 5, 6, 7, 7865, 46]

In [84]:
tupple= (1,2,3,"shivu","love")

In [85]:
tupple

(1, 2, 3, 'shivu', 'love')

In [87]:
tupple[1]="once" #tuple is imutable we can change

TypeError: 'tuple' object does not support item assignment

In [88]:
tupple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [99]:
tup=(1,)
tup             #to make a single tuple use comma in last

(1,)

In [106]:
tupple.count(1) # how may times 1 is in tupple

1

# Dictionay and sets

In [110]:
dic={'name':'shivesh',
     'college':'doon business school',
     'course':'PGDM'}

In [114]:
dic['name']

'shivesh'

In [126]:
dic={'name':'shivesh',
     'college':'doon business school',
     'course':'PGDM',
     'new_dic':{'location': 'DBS Hostel'}
    }

In [133]:
#we can also make nested dictionary

In [134]:
st={1,2,3,"shivu"}

In [135]:
print(st)

{1, 2, 3, 'shivu'}

In [136]:
st.add(10)

In [137]:
st

{1, 10, 2, 3, 'shivu'}

# conditional expression

In [147]:
if(1<5):
    print("yes")
else:
    print("no")

yes

In [153]:
if(1>5):
    print("yes")
else:
   print( "no")

no

In [157]:
c1=1000
if(c1==1):
    print("yes")
elif(c1==20):
    print("no")
else:
     print("hahahhaha")

hahahhaha

In [171]:
age=20
if age>17:
    print("yes,you are greater than 18")
else:
    print("oops! sorry you are not")

yes,you are greater than 18

# Looping

# while loop

In [1]:
i=0
while i<10:
    print("yes")
    i=i+1

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [4]:
i=0
while i<10:
    print("SHIVESH " + str(i))
    i=i+1

SHIVESH 0
SHIVESH 1
SHIVESH 2
SHIVESH 3
SHIVESH 4
SHIVESH 5
SHIVESH 6
SHIVESH 7
SHIVESH 8
SHIVESH 9

In [5]:
i=0
while i<10:
    print("SHIVESH " + str(i))
    i=i+1
print("Done")

SHIVESH 0
SHIVESH 1
SHIVESH 2
SHIVESH 3
SHIVESH 4
SHIVESH 5
SHIVESH 6
SHIVESH 7
SHIVESH 8
SHIVESH 9
Done

In [9]:
i=1
while i<=50:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

# for loop

In [13]:
l=[1,7,8,9]
for item in l:
    print(item)

1
7
8
9

In [20]:
for i in range(10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

# functions

In [25]:
def shivu ():
    print("shivesh")

In [27]:
shivu()

shivesh

In [36]:
def greet(name):
    print("good day,"+ name)

In [37]:
greet("shivesh")

good day,shivesh